@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

* {
    box-sizing:border-box;
    text-decoration: none;
    color: black;
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: 400;;
}

body {
    margin:0;

}
nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
a {
    margin: 5px 5px;
    text-decoration: none;
color: white;
font-weight: 600;
}
section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.50em;
    top: 50px;
}
img {
    background-color: white;
    border-radius: 5px;
    justify-content: center;
}

#menuLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menuRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
#apps, #info {
    margin: 5px;
}
h1 {
    align-items: center;
    margin-top: 100px;
}
a:hover {
    color: black;
    background-color: white;
    opacity: .80;

}
#search-bar {
    display: flex;
}
input {
    width: auto;
}
button {
    margin: 5px;
    border-radius: 5px;
    font-weight: 600;    
    opacity: 1;
}
button:hover {
    opacity: .50;
}
.buttons {
    margin-left: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:ivory;
    border: solid white 5px;
}
#footerRight {
    margin-right: 10px;
}